# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
venv/
.env

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/dist/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
